
.source {
  width: 150px;
}

.subtitle {
  margin-top: -15px !important;
  color: #454545 !important;

  > div {
    width: max-content;
    display: inline;
  }
  * div {
    width: max-content;
    display: inline;
    font-size: 16px !important;
  }
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    height: 60%;
    display: block;
    width: 3px;

    border-inline-width: 2px;
  }
}

.selector {
  margin-bottom: 200px;
}
