
.preview {
  width: 100%;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.stat * h3 {
  margin: 0;
  padding: 0;
}

.language {
  color: black;
}

.length {
  color: black;
}

.words {
  color: black;
}

.course {
  color: black;
  min-width: 0px !important;
}

.flag {
  width: 100% !important;
  height: 50px;
}

.meta_container {
  width: 100%;
}

.meta {
  min-width: 150px;
  float: left;
  display: block;
  margin-right: 20px;
  margin-top: 5px;
}
